__pycache__/
*.py[cod]

cache/
checkpoints/

outputs/**
!outputs/*.json
!outputs/*.csv
!outputs/*/
!outputs/*/metrics.json
!outputs/*/summary.json
!outputs/*/summary_pre_tg_postprocess.json
!outputs/*/submission.csv
!outputs/*/submission_pre_tg_postprocess.csv
!outputs/*/oof_predictions.csv
!outputs/*/oof_predictions_pre_tg_postprocess.csv
outputs/search_report.csv
outputs/search_report.json
